.hidden{
    display: none;
}

body.dark{
    background-color: #333333;
    color: whitesmoke;
}

header{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid tomato;
}

h1{
    font-size: 45pt;
}

#set-game{
    display: flex;
    justify-content: center;
}

#set-game > * {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

button{
    justify-self: center;
}

p#timer{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#game{
    display: flex;
    justify-content: center;
}

#number-container > p{
    border: 1px solid black;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    font-size: 30pt;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}


#displayTime{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.tile{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 40pt;
}

p.selected{
    background-color: lightblue;
}

p.incorrect{
    color: red;
}

.rightBorder{
    border-right: 4px solid black;
}

.bottomBorder{
    border-bottom: 4px solid black;
}

.correct{
    color: darkgreen;
}

.correctTile{
    
    background-color: yellowgreen;
    color: black;
}

.one-step-solve{
    background-color: rgb(231, 148, 39);
    color: darkblue;
}

.one-step{
    columns: rgb(2, 2, 241);
}

.solve-all{
    background-color: rgb(185, 48, 253);
    color: wheat;
}

#game-btn > button{
    margin-left: 20px;
}
